* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d1323;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
}

main {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    max-height: 90%;
    max-width: 90%;
}

h1 {
    font-weight: 300;
    font-size: 2.8rem;
}

.grid-part {
    background-color: #1d204b;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.main-part img {
    height: 4rem;
    width: 4rem;
    border: 2px solid white;
    border-radius: 50%;
}

.grid-part span {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#main-part-name {
    background-color: #5746ea;
    border-radius: 10px;
    width: 100%;
    height: 70%;
    padding: 3rem 2rem;
}

#main-part-name div {
    padding: 1.5rem 0;
}

#main-part-type {
    width: 100%;
    height: 30%;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1rem 2rem;
}

.grid-row-span-2 {
    grid-row: span 2;
}


.tracker {
    position: relative;
    height: 80%;
    align-self: end;
    background-color: #1d204b; 
}

.tracker::before {
    content: "";
    height: 4rem;
    width: 100%;
    background-color: #ff8b64;
    position: absolute;
    top: -25%;
    z-index: -1;
    border-radius: 10px;
    background-image: url(./images/icon-work.svg);
    background-repeat: no-repeat;
    background-position: top -10px right 10px;
    background-size: 30%;
}

.play-tracker::before {
    background-color: hsl(195, 74%, 62%);
    background-image: url(./images/icon-play.svg);
}

.study-tracker::before {
    background-color: hsl(348, 100%, 68%);
    background-image: url(./images/icon-study.svg);
}

.exercise-tracker::before {
    background-color: hsl(145, 58%, 55%);
    background-image: url(./images/icon-exercise.svg);
}

.social-tracker::before {
    background-color: hsl(264, 64%, 52%);
    background-image: url(./images/icon-social.svg);
}

.self-care-tracker::before {
    background-color: hsl(43, 84%, 65%);
    background-image: url(./images/icon-self-care.svg);
}


.tracker h2 {
    font-size: 2.2rem;
    font-weight: 300;
    padding: 0.8rem 1rem .2rem 1.6rem;
}

.tracer-title {
    position: relative;
}

.tracker-title::after {
    content: "...";
    font-size: 1.5rem;
    color: #6064a4;;
    position: absolute;
    right: 10%;
    top: 5%;
}

.tracker p {
    padding: 0 1.5rem;
}

.tracker > p {
    color: #7b7daf;
}

.change-display {
    color: #6064a4;
    cursor: pointer;
    transition: .5s;
}

.change-display:hover {
    color: white;
}


@media screen and (max-width: 1050px) {
    main {
        max-width: 19rem;
        gap: 3rem;
        grid-template-columns: 1fr;
    }

    .grid-row-span-2 {
        grid-row: span 1;
    }

    h1 {
        font-size: 1rem;
    }
    .tracker {
        flex-direction: row;
        align-items: center;
    }

    .grid-part {
        min-height: 6rem;
    }

    #main-part-name {
        flex-direction: row;
        align-items: center;
        padding: 2rem 1rem;
    }

    #main-part-name div {
        padding: 0 2rem;
    }

    #main-part-type {
        flex-direction: row;
        align-items: center;
    }

    .main-part {
        min-height: 11rem;
    }
    .tracker > p {
        padding-top: 2rem;
    }
}